.avatar {
  width: 110px;
  height: 110px;
  margin: 10px auto 30px auto;
  background-image: url("https://res.cloudinary.com/headincloud/image/upload/v1596599235/newface.jpg");
  background-size: cover;
  background-position: 10% 20%;
  border-radius: 50%;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px white, 0 0 0 5px #118620;
}
