.hi {
  grid-column: 2/5;
  padding: 13px;
}

.nameAndTitle {
  font-weight: 600;
}

.aboutMe {
  line-height: 1.5;
}

@media only screen and (max-width: 425px) {
  .hi {
    grid-column: 1/2;
    text-align: left;
    padding: 0;
    font-size: 13px;
  }
}
