.projects {
  border: 1px solid green;
  padding: 10px;
  padding-top: 0;
  text-align: center;
  background-color: #f5f4ea;
}

.projects p {
  font-weight: 600;
  margin: 0;
  padding: 40px 0;
}

.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj_item {
  background-color: #d8d7c6;
  margin: 5px;
  border-radius: 10px;
  margin: 5% 10%;
}

.proj_title {
  font-size: 12px;
  margin: 0;
  margin: 17px 0;
}

.proj_img {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  width: 87%;
  height: 150px;
}

.proj_descript {
  font-size: 10px;
  font-weight: 400;
  padding: 17px 16px;
}

.see_code_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
}

.see_code_btn a {
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  padding: 8px 11px;
  background-color: #557391;
}

.see_code_btn a i {
  margin-left: 5px;
}

#proj1 {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .projects {
    border: 1px solid green;
    padding: 40px;
    padding-top: 0;
    text-align: center;
    background-color: #f5f4ea;
  }

  .projects p {
    font-weight: 600;
    margin: 0;
    padding: 40px 0;
  }

  .projects_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .proj_item {
    background-color: #d8d7c6;
    margin: 5px;
    border-radius: 10px;
  }

  #proj1 {
    margin-top: 5px;
  }

  .proj_title {
    font-size: 12px;
    margin: 0;
    margin: 17px 0;
  }

  .proj_img {
    width: 160px;
    height: 130px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
  }

  .proj_descript {
    font-size: 10px;
    font-weight: 400;
    padding: 17px 0;
  }

  .see_code_btn {
    padding: 15px;
  }

  .see_code_btn a {
    padding: 8px 7px;
  }
}

@media only screen and (min-width: 1024px) {
  .see_code_btn {
    padding: 20px;
  }

  .see_code_btn a {
    padding: 10px 20px;
  }
}
