.skills {
  grid-column: 2/5;
  padding: 13px;
}

.skills_title {
  font-weight: 600;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 10px;
  justify-items: left;
}

@media only screen and (max-width: 425px) {
  .skills {
    grid-column: 1/2;
    padding: 0;
    font-size: 13px;
  }

  .skills_title {
    margin: 0;
    margin-top: 20px;
  }

  .skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 8px;
  }
}
