.about {
  // border: 1px solid blue;
  // background-image: url("https://res.cloudinary.com/headincloud/image/upload/v1593861140/aboutbg.png");
  // background-repeat: repeat;
  // background-size: cover;
  background: rgb(31, 143, 45);
  background: linear-gradient(
    180deg,
    rgba(31, 143, 45, 0.7382690809968847) 0%,
    rgba(73, 218, 90, 0.7351538161993769) 50%,
    rgba(210, 245, 220, 1) 100%
  );
  padding: 15%;
  width: 100vw;
}

/* 557391 */
