.about {
  // border: 1px solid blue;
  // background-image: url("https://res.cloudinary.com/headincloud/image/upload/v1593861140/aboutbg.png");
  // background-repeat: repeat;
  // background-size: cover;
  background: rgb(22, 51, 196);
  background: linear-gradient(
    180deg,
    rgba(22, 51, 196, 0.7725369937694704) 0%,
    rgba(48, 148, 222, 0.6977706386292835) 50%,
    rgba(218, 244, 249, 1) 100%
  );
  padding: 15%;
  width: 100vw;
}

/* 557391 */

