.resume {
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

.resumepdf {
  width: 80%;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  //   border: 1px solid red;
  justify-content: space-around;
  padding-top: 55px;
}

.icons {
  color: green;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons i {
  font-size: 50px;
}
