.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
}

a img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 425px) {
  .logo {
    margin-left: 10px;
  }
  a {
    font-size: 8px;
  }
  a img {
    width: 10px;
    height: 10px;
  }
}
