.topnavbar {
  background-color: #557391;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: yellow 1px solid; */
  padding: 8px;
}

@media only screen and (max-width: 425px) {
  
}
